<!-- <h1>Contacts#index</h1>
<p>Find me in app/views/contacts/index.html.erb</p> -->


<%= form_with(model: Contact.new) do |form| %>
  <div class="contact_name">
   <%= form.label :name %>
   <%= form.text_field :name %>
  </div>
  <div class="contact_email">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="contact_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>

<% end %>
